# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/tmp
/out-tsc
/bazel-out

/api/FunctionAppDoc2Data/bin
/api/FunctionAppDoc2Data/obj
/api/FunctionAppDoc2Data/appsettings.json
/api/FunctionAppDoc2Data/FunctionAppDoc2Data.csproj.user

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/api/.vs/FunctionAppDoc2Data
.vs

# Sensitive files
/api/FunctionAppDoc2Data/local.settings.json
