<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fn-d2d.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/599c6c34-d21c-4aea-958b-bd6274d1831d/resourceGroups/rg-doc2data/providers/Microsoft.Web/sites/fn-d2d</ResourceId>
    <PublishUrl>https://fn-d2d.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>