/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}


.mat-mdc-text-field-wrapper {
    width: 400px !important;
    z-index: 0;
}

.form-label{
    font-weight: 500 !important;
}


/* Change primary color to blue */
.bs-datepicker {
  --bs-primary: #0d6efd !important;
  --bs-success: #0d6efd !important;
}

/* Header background */
.bs-datepicker-head {
  background-color: #0d6efd !important;
}

/* Selected date */
.bs-datepicker-body table td span.selected {
  background-color: #0d6efd !important;
}

