<div class="container d-flex justify-content-center align-items-center custom-height">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h4 class="text-center mb-3">Forgot Password</h4>
    <p class="text-muted text-center">Enter your email to reset your password.</p>

    <form (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email"
               id="email"
               class="form-control"
               [(ngModel)]="email"
               name="email"
               #emailRef="ngModel"
               required
               email
               [class.is-invalid]="emailRef.invalid && emailRef.touched"
               [class.is-valid]="emailRef.valid && emailRef.touched">
        
               @if(emailRef.invalid && emailRef.touched){

               
        <div class="invalid-feedback">
          @if(emailRef.errors?.['required']){
          <div>
            Email address is required.
          </div>  
        }
         @if(emailRef.errors?.['email']){
          <div>
            Please enter a valid email address.
          </div>
         }
        </div>
      }
        @if(emailRef.valid && emailRef.touched){
          <div class="valid-feedback">
            Looks good!
          </div>
        }
       
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
        {{ loading ? 'Sending...' : 'Reset Password' }}
      </button>
      @if(message){
         <div class="alert alert-info mt-3">
        {{ message }}
      </div>
      }
     
    </form>

    <div class="text-center mt-3">
      <a routerLink="/login" class="text-decoration-none">Back to Login</a>
    </div>
  </div>
</div>
